services:
  postgres:
    image: postgres:16
    env_file:
      - .env
    ports:
      - "5433:5432"
    volumes:
      - postgres_dev_data:/var/lib/postgresql/data
  second-service:
    build: .
    ports:
      - "8001:8000"

volumes:
  postgres_dev_data:
